# Análisis calidad del aire

La preocupación por la calidad del aire en ciudades como Madrid ha impulsado la búsqueda de soluciones eficientes para purificar el aire en interiores. Utilizando la plataforma de datos abiertos Kaggle, hemos accedido a información valiosa sobre calidad del aire y purificadores disponibles en el mercado.

Esta información nos ha permitido desarrollar Clean Air, un purificador de aire innovador y ecológico, diseñado para áreas urbanas. Basándonos en datos de Kaggle, hemos identificado características relevantes, establecido una estrategia de precios y distribución adecuada, y elaborado una estrategia de marketing efectiva y dirigida a nuestro público objetivo.

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [10]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 15, 8  
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 12 
rcParams["axes.labelweight"] = "bold"

## Cargar los datos para el modelo

In [21]:
csv_filename = "sep_mo19.csv"

df = pd.read_csv(csv_filename, sep=';', header=0)
df.head(5000)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2019,9,1,9.00,V,...,6.00,V,7.00,V,6.00,V,7.00,V,7.00,V
1,28,79,4,1,28079004_1_38,2019,9,2,7.00,V,...,8.00,V,7.00,V,7.00,V,7.00,V,8.00,V
2,28,79,4,1,28079004_1_38,2019,9,3,8.00,V,...,7.00,V,7.00,V,6.00,V,7.00,V,7.00,V
3,28,79,4,1,28079004_1_38,2019,9,4,8.00,V,...,6.00,V,7.00,V,7.00,V,7.00,V,7.00,V
4,28,79,4,1,28079004_1_38,2019,9,5,7.00,V,...,6.00,V,7.00,V,8.00,V,7.00,V,8.00,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,28,79,60,14,28079060_14_6,2019,9,26,60.85,V,...,104.40,V,74.65,V,21.67,V,27.68,V,26.59,V
4583,28,79,60,14,28079060_14_6,2019,9,27,10.36,V,...,99.09,V,71.81,V,50.46,V,32.17,V,19.29,V
4584,28,79,60,14,28079060_14_6,2019,9,28,34.88,V,...,115.70,V,70.17,V,20.11,V,16.91,V,17.97,V
4585,28,79,60,14,28079060_14_6,2019,9,29,3.80,V,...,111.40,V,80.90,V,61.81,V,28.93,V,32.80,V
4586,28,79,60,14,28079060_14_6,2019,9,30,57.25,V,...,79.58,V,41.07,V,35.40,V,35.04,V,48.06,V

In [22]:
csv_filename = "sep_mo19.csv"

df = pd.read_csv(csv_filename, sep=';', header=0)

missing_values = df.isna().sum()
print(missing_values)

PROVINCIA         0
MUNICIPIO         0
ESTACION          0
MAGNITUD          0
PUNTO_MUESTREO    0
ANO               0
MES               0
DIA               0
H01               0
V01               0
H02               0
V02               0
H03               0
V03               0
H04               0
V04               0
H05               0
V05               0
H06               0
V06               0
H07               0
V07               0
H08               0
V08               0
H09               0
V09               0
H10               0
V10               0
H11               0
V11               0
H12               0
V12               0
H13               0
V13               0
H14               0
V14               0
H15               0
V15               0
H16               0
V16               0
H17               0
V17               0
H18               0
V18               0
H19               0
V19               0
H20               0
V20               0
H21               0
V21               0
H22               0
V22               0
H23               0
V23               0
H24               0
V24               0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4587 entries, 0 to 4586
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       4587 non-null   int64
 1   MUNICIPIO       4587 non-null   int64
 2   ESTACION        4587 non-null   int64
 3   MAGNITUD        4587 non-null   int64
 4   PUNTO_MUESTREO  4587 non-null   object
 5   ANO             4587 non-null   int64
 6   MES             4587 non-null   int64
 7   DIA             4587 non-null   int64
 8   H01             4587 non-null   float64
 9   V01             4587 non-null   object
 10  H02             4587 non-null   float64
 11  V02             4587 non-null   object
 12  H03             4587 non-null   float64
 13  V03             4587 non-null   object
 14  H04             4587 non-null   float64
 15  V04             4587 non-null   object
 16  H05             4587 non-null   float64
 17  V05             4587 non-null   object
 18  H06             4587 non-null   float64
 19  V06             4587 non-null   object
 20  H07             4587 non-null   float64
 21  V07             4587 non-null   object
 22  H08             4587 non-null   float64
 23  V08             4587 non-null   object
 24  H09             4587 non-null   float64
 25  V09             4587 non-null   object
 26  H10             4587 non-null   float64
 27  V10             4587 non-null   object
 28  H11             4587 non-null   float64
 29  V11             4587 non-null   object
 30  H12             4587 non-null   float64
 31  V12             4587 non-null   object
 32  H13             4587 non-null   float64
 33  V13             4587 non-null   object
 34  H14             4587 non-null   float64
 35  V14             4587 non-null   object
 36  H15             4587 non-null   float64
 37  V15             4587 non-null   object
 38  H16             4587 non-null   float64
 39  V16             4587 non-null   object
 40  H17             4587 non-null   float64
 41  V17             4587 non-null   object
 42  H18             4587 non-null   float64
 43  V18             4587 non-null   object
 44  H19             4587 non-null   float64
 45  V19             4587 non-null   object
 46  H20             4587 non-null   float64
 47  V20             4587 non-null   object
 48  H21             4587 non-null   float64
 49  V21             4587 non-null   object
 50  H22             4587 non-null   float64
 51  V22             4587 non-null   object
 52  H23             4587 non-null   float64
 53  V23             4587 non-null   object
 54  H24             4587 non-null   float64
 55  V24             4587 non-null   object
dtypes: float64(24), int64(7), object(25)
memory usage: 2.0+ MB

In [24]:
df[df.isna().any(axis=1)]    # No se encuentran filas con valores nulos

Empty DataFrame
Columns: [PROVINCIA, MUNICIPIO, ESTACION, MAGNITUD, PUNTO_MUESTREO, ANO, MES, DIA, H01, V01, H02, V02, H03, V03, H04, V04, H05, V05, H06, V06, H07, V07, H08, V08, H09, V09, H10, V10, H11, V11, H12, V12, H13, V13, H14, V14, H15, V15, H16, V16, H17, V17, H18, V18, H19, V19, H20, V20, H21, V21, H22, V22, H23, V23, H24, V24]
Index: []

[0 rows x 56 columns]

In [26]:
df_limpiar = df.dropna().reset_index(drop=True)
df_limpiar

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2019,9,1,9.00,V,...,6.00,V,7.00,V,6.00,V,7.00,V,7.00,V
1,28,79,4,1,28079004_1_38,2019,9,2,7.00,V,...,8.00,V,7.00,V,7.00,V,7.00,V,8.00,V
2,28,79,4,1,28079004_1_38,2019,9,3,8.00,V,...,7.00,V,7.00,V,6.00,V,7.00,V,7.00,V
3,28,79,4,1,28079004_1_38,2019,9,4,8.00,V,...,6.00,V,7.00,V,7.00,V,7.00,V,7.00,V
4,28,79,4,1,28079004_1_38,2019,9,5,7.00,V,...,6.00,V,7.00,V,8.00,V,7.00,V,8.00,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,28,79,60,14,28079060_14_6,2019,9,26,60.85,V,...,104.40,V,74.65,V,21.67,V,27.68,V,26.59,V
4583,28,79,60,14,28079060_14_6,2019,9,27,10.36,V,...,99.09,V,71.81,V,50.46,V,32.17,V,19.29,V
4584,28,79,60,14,28079060_14_6,2019,9,28,34.88,V,...,115.70,V,70.17,V,20.11,V,16.91,V,17.97,V
4585,28,79,60,14,28079060_14_6,2019,9,29,3.80,V,...,111.40,V,80.90,V,61.81,V,28.93,V,32.80,V
4586,28,79,60,14,28079060_14_6,2019,9,30,57.25,V,...,79.58,V,41.07,V,35.40,V,35.04,V,48.06,V