# Análisis calidad del aire.

In [639]:
#  Importamos las librerías necesarias 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
%matplotlib inline

In [640]:
from matplotlib.pyplot import rcParams
rcParams['figure.figsize'] = 12, 6 #  El primer dígito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

In [641]:
files = ['ago_mo19.csv', 'sep_mo19.csv', 'nov_mo19.csv', 'nov_mo19.csv', 'dic_mo19.csv']

In [642]:
df_list = []
for dirname, _, filenames in os.walk('../Fase-2/CSVs'):
    for file in files:
        df_aux = pd.read_csv(os.path.join(dirname, file), sep=';', header=0)
        df_aux.head()
        df_list.append(df_aux)

df = pd.concat(df_list, ignore_index=True, sort=False)
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2019,8,1,7.0,V,...,8.0,V,8.0,V,7.0,V,6.0,V,6.0,V
1,28,79,4,1,28079004_1_38,2019,8,2,7.0,V,...,7.0,V,7.0,V,6.0,V,6.0,V,6.0,V
2,28,79,4,1,28079004_1_38,2019,8,3,7.0,V,...,7.0,V,7.0,V,6.0,V,6.0,V,5.0,V
3,28,79,4,1,28079004_1_38,2019,8,4,6.0,V,...,7.0,V,6.0,V,6.0,V,6.0,V,6.0,V
4,28,79,4,1,28079004_1_38,2019,8,5,6.0,V,...,8.0,V,7.0,V,7.0,V,6.0,V,6.0,V

In [643]:
df.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
22955,28,79,60,14,28079060_14_6,2019,12,27,32.34,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22956,28,79,60,14,28079060_14_6,2019,12,28,1.25,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22957,28,79,60,14,28079060_14_6,2019,12,29,1.00,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22958,28,79,60,14,28079060_14_6,2019,12,30,1.00,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22959,28,79,60,14,28079060_14_6,2019,12,31,1.00,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V

In [644]:
#  Contamos los valores faltantes 
df.isna().sum()

PROVINCIA         0
MUNICIPIO         0
ESTACION          0
MAGNITUD          0
PUNTO_MUESTREO    0
ANO               0
MES               0
DIA               0
H01               0
V01               0
H02               0
V02               0
H03               0
V03               0
H04               0
V04               0
H05               0
V05               0
H06               0
V06               0
H07               0
V07               0
H08               0
V08               0
H09               0
V09               0
H10               0
V10               0
H11               0
V11               0
H12               0
V12               0
H13               0
V13               0
H14               0
V14               0
H15               0
V15               0
H16               0
V16               0
H17               0
V17               0
H18               0
V18               0
H19               0
V19               0
H20               0
V20               0
H21               0
V21               0
H22               0
V22               0
H23               0
V23               0
H24               0
V24               0
dtype: int64

In [645]:
#  La informacion que nos puede ser util sobre los datos del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22960 entries, 0 to 22959
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       22960 non-null  int64
 1   MUNICIPIO       22960 non-null  int64
 2   ESTACION        22960 non-null  int64
 3   MAGNITUD        22960 non-null  int64
 4   PUNTO_MUESTREO  22960 non-null  object
 5   ANO             22960 non-null  int64
 6   MES             22960 non-null  int64
 7   DIA             22960 non-null  int64
 8   H01             22960 non-null  float64
 9   V01             22960 non-null  object
 10  H02             22960 non-null  float64
 11  V02             22960 non-null  object
 12  H03             22960 non-null  float64
 13  V03             22960 non-null  object
 14  H04             22960 non-null  float64
 15  V04             22960 non-null  object
 16  H05             22960 non-null  float64
 17  V05             22960 non-null  object
 18  H06             22960 non-null  float64
 19  V06             22960 non-null  object
 20  H07             22960 non-null  float64
 21  V07             22960 non-null  object
 22  H08             22960 non-null  float64
 23  V08             22960 non-null  object
 24  H09             22960 non-null  float64
 25  V09             22960 non-null  object
 26  H10             22960 non-null  float64
 27  V10             22960 non-null  object
 28  H11             22960 non-null  float64
 29  V11             22960 non-null  object
 30  H12             22960 non-null  float64
 31  V12             22960 non-null  object
 32  H13             22960 non-null  float64
 33  V13             22960 non-null  object
 34  H14             22960 non-null  float64
 35  V14             22960 non-null  object
 36  H15             22960 non-null  float64
 37  V15             22960 non-null  object
 38  H16             22960 non-null  float64
 39  V16             22960 non-null  object
 40  H17             22960 non-null  float64
 41  V17             22960 non-null  object
 42  H18             22960 non-null  float64
 43  V18             22960 non-null  object
 44  H19             22960 non-null  float64
 45  V19             22960 non-null  object
 46  H20             22960 non-null  float64
 47  V20             22960 non-null  object
 48  H21             22960 non-null  float64
 49  V21             22960 non-null  object
 50  H22             22960 non-null  float64
 51  V22             22960 non-null  object
 52  H23             22960 non-null  float64
 53  V23             22960 non-null  object
 54  H24             22960 non-null  float64
 55  V24             22960 non-null  object
dtypes: float64(24), int64(7), object(25)
memory usage: 9.8+ MB

In [646]:
#  Seleccionamos los datos de la estacion que nos interesa para el analisis, en este caso la estacion 4
df = df[df['ESTACION'] == 4]

In [647]:
#  Filtramos los datos por NO2
df = df[(df['MAGNITUD'] == 8)]
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
93,28,79,4,8,28079004_8_8,2019,8,1,20.0,V,...,23.0,V,28.0,V,37.0,V,26.0,V,57.0,V
94,28,79,4,8,28079004_8_8,2019,8,2,68.0,V,...,24.0,V,36.0,V,73.0,V,57.0,V,91.0,V
95,28,79,4,8,28079004_8_8,2019,8,3,103.0,V,...,17.0,V,23.0,V,40.0,V,36.0,V,23.0,V
96,28,79,4,8,28079004_8_8,2019,8,4,21.0,V,...,16.0,V,25.0,V,49.0,V,38.0,V,24.0,V
97,28,79,4,8,28079004_8_8,2019,8,5,17.0,V,...,19.0,V,22.0,V,26.0,V,28.0,V,29.0,V

In [648]:
df.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
18342,28,79,4,8,28079004_8_8,2019,12,27,48.0,V,...,105.0,V,89.0,V,72.0,V,66.0,V,57.0,V
18343,28,79,4,8,28079004_8_8,2019,12,28,49.0,V,...,138.0,V,127.0,V,107.0,V,93.0,V,78.0,V
18344,28,79,4,8,28079004_8_8,2019,12,29,64.0,V,...,124.0,V,112.0,V,105.0,V,76.0,V,64.0,V
18345,28,79,4,8,28079004_8_8,2019,12,30,55.0,V,...,99.0,V,103.0,V,87.0,V,72.0,V,76.0,V
18346,28,79,4,8,28079004_8_8,2019,12,31,70.0,V,...,85.0,V,93.0,V,92.0,V,72.0,V,58.0,V

In [649]:
#  Añadimos una columna con la fecha
df['fecha'] = pd.to_datetime(df[['ANO','MES','DIA']].rename(columns = {'ANO': 'YEAR', 'MES': 'MONTH', 'DIA': 'DAY'}))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 93 to 18346
Data columns (total 57 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       150 non-null    int64
 1   MUNICIPIO       150 non-null    int64
 2   ESTACION        150 non-null    int64
 3   MAGNITUD        150 non-null    int64
 4   PUNTO_MUESTREO  150 non-null    object
 5   ANO             150 non-null    int64
 6   MES             150 non-null    int64
 7   DIA             150 non-null    int64
 8   H01             150 non-null    float64
 9   V01             150 non-null    object
 10  H02             150 non-null    float64
 11  V02             150 non-null    object
 12  H03             150 non-null    float64
 13  V03             150 non-null    object
 14  H04             150 non-null    float64
 15  V04             150 non-null    object
 16  H05             150 non-null    float64
 17  V05             150 non-null    object
 18  H06             150 non-null    float64
 19  V06             150 non-null    object
 20  H07             150 non-null    float64
 21  V07             150 non-null    object
 22  H08             150 non-null    float64
 23  V08             150 non-null    object
 24  H09             150 non-null    float64
 25  V09             150 non-null    object
 26  H10             150 non-null    float64
 27  V10             150 non-null    object
 28  H11             150 non-null    float64
 29  V11             150 non-null    object
 30  H12             150 non-null    float64
 31  V12             150 non-null    object
 32  H13             150 non-null    float64
 33  V13             150 non-null    object
 34  H14             150 non-null    float64
 35  V14             150 non-null    object
 36  H15             150 non-null    float64
 37  V15             150 non-null    object
 38  H16             150 non-null    float64
 39  V16             150 non-null    object
 40  H17             150 non-null    float64
 41  V17             150 non-null    object
 42  H18             150 non-null    float64
 43  V18             150 non-null    object
 44  H19             150 non-null    float64
 45  V19             150 non-null    object
 46  H20             150 non-null    float64
 47  V20             150 non-null    object
 48  H21             150 non-null    float64
 49  V21             150 non-null    object
 50  H22             150 non-null    float64
 51  V22             150 non-null    object
 52  H23             150 non-null    float64
 53  V23             150 non-null    object
 54  H24             150 non-null    float64
 55  V24             150 non-null    object
 56  fecha           150 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(24), int64(7), object(25)
memory usage: 68.0+ KB

In [650]:
#  Extraer datos de las medidas tomadas y creamos un nuevo dataframe 'data' con el formato que nosotros queremos
data_columnas = [ 'H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19', 'H20', 'H21', 'H22', 'H23', 'H24'] 
veri_columnas = [ 'V01', 'V02', 'V03', 'V04', 'V05', 'V06', 'V07', 'V08', 'V09', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24']


hora_column = np.arange(1, 25)  #  etiqueta característica

data = pd.DataFrame(columns=['hora', 'dato', 'verificado'])  #  DataFrame con datos finales
aux = pd.DataFrame(columns=['hora', 'dato', 'verificado'])  #  DataFrame auxiliar

#  Para cada hora de cada fila, crea una nueva fila con su dato y su valor de verificado
for  (h,d,v) in zip(hora_column, data_columnas, veri_columnas): 
    aux['dato'] = df [ data_columnas[h-1] ] 
    aux['verificado'] = df [ veri_columnas[h-1] ] 
    aux['hora'] = h
    aux['fecha'] = df ['fecha']
    data = pd.concat([data, aux], ignore_index=True, sort=False)

data = data.astype({'hora': 'int32'}, copy = False)
data.head(10)

   hora   dato verificado      fecha
0     1   20.0          V 2019-08-01
1     1   68.0          V 2019-08-02
2     1  103.0          V 2019-08-03
3     1   21.0          V 2019-08-04
4     1   17.0          V 2019-08-05
5     1   25.0          V 2019-08-06
6     1   16.0          V 2019-08-07
7     1   13.0          V 2019-08-08
8     1   27.0          V 2019-08-09
9     1    8.0          V 2019-08-10

In [651]:
#  Ordenamos los datos por orden cronológico
data = data.sort_values(['fecha','hora'])
n_periods = len(data)
data.index = pd.timedelta_range(start='0 days', periods=n_periods, freq='H')
data.head()

                 hora  dato verificado      fecha
0 days 00:00:00     1  20.0          V 2019-08-01
0 days 01:00:00     2  15.0          V 2019-08-01
0 days 02:00:00     3  16.0          V 2019-08-01
0 days 03:00:00     4  13.0          V 2019-08-01
0 days 04:00:00     5  10.0          V 2019-08-01

In [652]:
data.tail()

                   hora  dato verificado      fecha
149 days 19:00:00    20  85.0          V 2019-12-31
149 days 20:00:00    21  93.0          V 2019-12-31
149 days 21:00:00    22  92.0          V 2019-12-31
149 days 22:00:00    23  72.0          V 2019-12-31
149 days 23:00:00    24  58.0          V 2019-12-31

In [653]:
#  Quito los datos que no esten verificados
data.loc[data['verificado'] != 'V', ['dato']] = np.nan
data.loc[data['verificado'] != 'V']

                   hora  dato verificado      fecha
1 days 11:00:00      12   NaN          N 2019-08-02
13 days 13:00:00     14   NaN          N 2019-08-14
40 days 13:00:00     14   NaN          N 2019-09-10
100 days 00:00:00    13   NaN          N 2019-11-20
100 days 01:00:00    13   NaN          N 2019-11-20
...                 ...   ...        ...        ...
107 days 23:00:00    12   NaN          N 2019-11-25
108 days 00:00:00    13   NaN          N 2019-11-25
108 days 01:00:00    13   NaN          N 2019-11-25
108 days 02:00:00    14   NaN          N 2019-11-25
108 days 03:00:00    14   NaN          N 2019-11-25

[111 rows x 4 columns]

In [654]:
del data['verificado']
data.info()

<class 'pandas.core.frame.DataFrame'>
TimedeltaIndex: 3600 entries, 0 days 00:00:00 to 149 days 23:00:00
Freq: H
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hora    3600 non-null   int32
 1   dato    3489 non-null   float64
 2   fecha   3600 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(1)
memory usage: 98.4 KB

In [655]:
#  Vemos que valores son nulos para la columna 'dato' y los eliminamos 
null_data = data[data['dato'].isnull()]
data['dato'] = data['dato'].fillna(np.nan)
data = data.dropna(subset=['dato'])

In [656]:
#  Añadimos una columna para el día de la semana
dates = data['fecha'].dt.to_pydatetime()
days_of_week = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
data['dia_semana'] = np.array([days_of_week[d.weekday()] for d in dates])

In [657]:
#  cambiamos el nombre de la columna 'dato' por 'NO2'
data = data.rename(columns={'dato': 'NO2'}, copy = False)

In [658]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
TimedeltaIndex: 3489 entries, 0 days 00:00:00 to 149 days 23:00:00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hora        3489 non-null   int32
 1   NO2         3489 non-null   float64
 2   fecha       3489 non-null   datetime64[ns]
 3   dia_semana  3489 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(1)
memory usage: 122.7+ KB

                   hora   NO2      fecha dia_semana
0 days 00:00:00       1  20.0 2019-08-01     Jueves
0 days 01:00:00       2  15.0 2019-08-01     Jueves
0 days 02:00:00       3  16.0 2019-08-01     Jueves
0 days 03:00:00       4  13.0 2019-08-01     Jueves
0 days 04:00:00       5  10.0 2019-08-01     Jueves
...                 ...   ...        ...        ...
149 days 19:00:00    20  85.0 2019-12-31     Martes
149 days 20:00:00    21  93.0 2019-12-31     Martes
149 days 21:00:00    22  92.0 2019-12-31     Martes
149 days 22:00:00    23  72.0 2019-12-31     Martes
149 days 23:00:00    24  58.0 2019-12-31     Martes

[3489 rows x 4 columns]

In [659]:
#  Creamos una serie temporal con los datos de NO2
datos = data['NO2']
datos

0 days 00:00:00      20.0
0 days 01:00:00      15.0
0 days 02:00:00      16.0
0 days 03:00:00      13.0
0 days 04:00:00      10.0
                     ...
149 days 19:00:00    85.0
149 days 20:00:00    93.0
149 days 21:00:00    92.0
149 days 22:00:00    72.0
149 days 23:00:00    58.0
Name: NO2, Length: 3489, dtype: float64