# Análisis calidad del aire.

In [75]:
#  Importamos las librerías necesarias 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
%matplotlib inline

In [76]:
from matplotlib.pyplot import rcParams
rcParams['figure.figsize'] = 12, 6 #  El primer dígito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

In [77]:
files = ['ago_mo19.csv', 'sep_mo19.csv', 'nov_mo19.csv', 'nov_mo19.csv', 'dic_mo19.csv']

In [78]:
df_list = []
for dirname, _, filenames in os.walk('../Fase-2/CSVs'):
    for file in files:
        df_aux = pd.read_csv(os.path.join(dirname, file), sep=';', header=0)
        df_aux.head()
        df_list.append(df_aux)

df = pd.concat(df_list, ignore_index=True, sort=False)
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2019,8,1,7.0,V,...,8.0,V,8.0,V,7.0,V,6.0,V,6.0,V
1,28,79,4,1,28079004_1_38,2019,8,2,7.0,V,...,7.0,V,7.0,V,6.0,V,6.0,V,6.0,V
2,28,79,4,1,28079004_1_38,2019,8,3,7.0,V,...,7.0,V,7.0,V,6.0,V,6.0,V,5.0,V
3,28,79,4,1,28079004_1_38,2019,8,4,6.0,V,...,7.0,V,6.0,V,6.0,V,6.0,V,6.0,V
4,28,79,4,1,28079004_1_38,2019,8,5,6.0,V,...,8.0,V,7.0,V,7.0,V,6.0,V,6.0,V

In [79]:
df.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
22955,28,79,60,14,28079060_14_6,2019,12,27,32.34,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22956,28,79,60,14,28079060_14_6,2019,12,28,1.25,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22957,28,79,60,14,28079060_14_6,2019,12,29,1.00,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22958,28,79,60,14,28079060_14_6,2019,12,30,1.00,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
22959,28,79,60,14,28079060_14_6,2019,12,31,1.00,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V

In [80]:
#  Contamos los valores faltantes 
df.isna().sum()

PROVINCIA         0
MUNICIPIO         0
ESTACION          0
MAGNITUD          0
PUNTO_MUESTREO    0
ANO               0
MES               0
DIA               0
H01               0
V01               0
H02               0
V02               0
H03               0
V03               0
H04               0
V04               0
H05               0
V05               0
H06               0
V06               0
H07               0
V07               0
H08               0
V08               0
H09               0
V09               0
H10               0
V10               0
H11               0
V11               0
H12               0
V12               0
H13               0
V13               0
H14               0
V14               0
H15               0
V15               0
H16               0
V16               0
H17               0
V17               0
H18               0
V18               0
H19               0
V19               0
H20               0
V20               0
H21               0
V21               0
H22               0
V22               0
H23               0
V23               0
H24               0
V24               0
dtype: int64

In [81]:
#  La informacion que nos puede ser util sobre los datos del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22960 entries, 0 to 22959
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       22960 non-null  int64
 1   MUNICIPIO       22960 non-null  int64
 2   ESTACION        22960 non-null  int64
 3   MAGNITUD        22960 non-null  int64
 4   PUNTO_MUESTREO  22960 non-null  object
 5   ANO             22960 non-null  int64
 6   MES             22960 non-null  int64
 7   DIA             22960 non-null  int64
 8   H01             22960 non-null  float64
 9   V01             22960 non-null  object
 10  H02             22960 non-null  float64
 11  V02             22960 non-null  object
 12  H03             22960 non-null  float64
 13  V03             22960 non-null  object
 14  H04             22960 non-null  float64
 15  V04             22960 non-null  object
 16  H05             22960 non-null  float64
 17  V05             22960 non-null  object
 18  H06             22960 non-null  float64
 19  V06             22960 non-null  object
 20  H07             22960 non-null  float64
 21  V07             22960 non-null  object
 22  H08             22960 non-null  float64
 23  V08             22960 non-null  object
 24  H09             22960 non-null  float64
 25  V09             22960 non-null  object
 26  H10             22960 non-null  float64
 27  V10             22960 non-null  object
 28  H11             22960 non-null  float64
 29  V11             22960 non-null  object
 30  H12             22960 non-null  float64
 31  V12             22960 non-null  object
 32  H13             22960 non-null  float64
 33  V13             22960 non-null  object
 34  H14             22960 non-null  float64
 35  V14             22960 non-null  object
 36  H15             22960 non-null  float64
 37  V15             22960 non-null  object
 38  H16             22960 non-null  float64
 39  V16             22960 non-null  object
 40  H17             22960 non-null  float64
 41  V17             22960 non-null  object
 42  H18             22960 non-null  float64
 43  V18             22960 non-null  object
 44  H19             22960 non-null  float64
 45  V19             22960 non-null  object
 46  H20             22960 non-null  float64
 47  V20             22960 non-null  object
 48  H21             22960 non-null  float64
 49  V21             22960 non-null  object
 50  H22             22960 non-null  float64
 51  V22             22960 non-null  object
 52  H23             22960 non-null  float64
 53  V23             22960 non-null  object
 54  H24             22960 non-null  float64
 55  V24             22960 non-null  object
dtypes: float64(24), int64(7), object(25)
memory usage: 9.8+ MB

In [82]:
#  Seleccionamos los datos de la estacion que nos interesa para el analisis
df = df[df['ESTACION'] == 4]

In [83]:
# 3. Filtramos los datos por NO2
df = df[(df['MAGNITUD'] == 8)]
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
93,28,79,4,8,28079004_8_8,2019,8,1,20.0,V,...,23.0,V,28.0,V,37.0,V,26.0,V,57.0,V
94,28,79,4,8,28079004_8_8,2019,8,2,68.0,V,...,24.0,V,36.0,V,73.0,V,57.0,V,91.0,V
95,28,79,4,8,28079004_8_8,2019,8,3,103.0,V,...,17.0,V,23.0,V,40.0,V,36.0,V,23.0,V
96,28,79,4,8,28079004_8_8,2019,8,4,21.0,V,...,16.0,V,25.0,V,49.0,V,38.0,V,24.0,V
97,28,79,4,8,28079004_8_8,2019,8,5,17.0,V,...,19.0,V,22.0,V,26.0,V,28.0,V,29.0,V

In [84]:
df.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
18342,28,79,4,8,28079004_8_8,2019,12,27,48.0,V,...,105.0,V,89.0,V,72.0,V,66.0,V,57.0,V
18343,28,79,4,8,28079004_8_8,2019,12,28,49.0,V,...,138.0,V,127.0,V,107.0,V,93.0,V,78.0,V
18344,28,79,4,8,28079004_8_8,2019,12,29,64.0,V,...,124.0,V,112.0,V,105.0,V,76.0,V,64.0,V
18345,28,79,4,8,28079004_8_8,2019,12,30,55.0,V,...,99.0,V,103.0,V,87.0,V,72.0,V,76.0,V
18346,28,79,4,8,28079004_8_8,2019,12,31,70.0,V,...,85.0,V,93.0,V,92.0,V,72.0,V,58.0,V

In [85]:
#  Añadimos una columna con la fecha
df['fecha'] = pd.to_datetime(df[['ANO','MES','DIA']].rename(columns = {'ANO': 'YEAR', 'MES': 'MONTH', 'DIA': 'DAY'}))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 93 to 18346
Data columns (total 57 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       150 non-null    int64
 1   MUNICIPIO       150 non-null    int64
 2   ESTACION        150 non-null    int64
 3   MAGNITUD        150 non-null    int64
 4   PUNTO_MUESTREO  150 non-null    object
 5   ANO             150 non-null    int64
 6   MES             150 non-null    int64
 7   DIA             150 non-null    int64
 8   H01             150 non-null    float64
 9   V01             150 non-null    object
 10  H02             150 non-null    float64
 11  V02             150 non-null    object
 12  H03             150 non-null    float64
 13  V03             150 non-null    object
 14  H04             150 non-null    float64
 15  V04             150 non-null    object
 16  H05             150 non-null    float64
 17  V05             150 non-null    object
 18  H06             150 non-null    float64
 19  V06             150 non-null    object
 20  H07             150 non-null    float64
 21  V07             150 non-null    object
 22  H08             150 non-null    float64
 23  V08             150 non-null    object
 24  H09             150 non-null    float64
 25  V09             150 non-null    object
 26  H10             150 non-null    float64
 27  V10             150 non-null    object
 28  H11             150 non-null    float64
 29  V11             150 non-null    object
 30  H12             150 non-null    float64
 31  V12             150 non-null    object
 32  H13             150 non-null    float64
 33  V13             150 non-null    object
 34  H14             150 non-null    float64
 35  V14             150 non-null    object
 36  H15             150 non-null    float64
 37  V15             150 non-null    object
 38  H16             150 non-null    float64
 39  V16             150 non-null    object
 40  H17             150 non-null    float64
 41  V17             150 non-null    object
 42  H18             150 non-null    float64
 43  V18             150 non-null    object
 44  H19             150 non-null    float64
 45  V19             150 non-null    object
 46  H20             150 non-null    float64
 47  V20             150 non-null    object
 48  H21             150 non-null    float64
 49  V21             150 non-null    object
 50  H22             150 non-null    float64
 51  V22             150 non-null    object
 52  H23             150 non-null    float64
 53  V23             150 non-null    object
 54  H24             150 non-null    float64
 55  V24             150 non-null    object
 56  fecha           150 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(24), int64(7), object(25)
memory usage: 68.0+ KB

In [86]:
# 4. Extraer datos de las medidas tomadas y creamos un nuevo dataframe 'data' con el formato que nosotros queremos
# Define the df variable with some example data
df = pd.DataFrame({
    'fecha': ['2022-01-01', '2022-01-02'],
    'H01': [1, 2],
    'H02': [3, 4],
    'V01': [True, False],
    'V02': [False, True]
})

data_columns = ['H01', 'H02'] # feature
veri_columns = ['V01', 'V02']

hora_column = np.arange(1, 3) # feature label

data = pd.DataFrame(columns=['hora', 'dato', 'verificado']) # DataFrame con datos finales

# Para cada hora de cada fila, crea una nueva fila con su dato y su valor de verificado
for (h, d, v) in zip(hora_column, data_columns, veri_columns):
    aux = pd.DataFrame(columns=['hora', 'dato', 'verificado']) # aux de próxima fila a ser añadida
    aux['dato'] = df[data_columns[h-1]]
    aux['verificado'] = df[veri_columns[h-1]]
    aux['hora'] = h
    aux['fecha'] = df['fecha']
    data = data.reset_index(drop=True)
    data = pd.concat([data, aux], axis=0, ignore_index=True)

data = data.astype({'hora': 'int32'}, copy=False)